@import "{{ site.theme }}";


body {
  font-family: sans-serif;
}

.timer {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.typeform {
  text-align: center;
}

.cricket-photo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.out-of-time {
  display: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
